body {
    background-color: black;
    margin: 8px;
  }
  h1 {
    outline: 1px solid #162544!important;
    text-transform: uppercase;
    font-size: 3rem;
  }
  p {
    outline: 1px solid #ac050b!important;
    font-size: 2rem;
  }
  
  .poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  }
  
  .marius {
    border: 5px solid white;
    width: 100%;
}
img {
    outline: 1px solid #22746b!important;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
